In [52]:
import pandas as pd

### Pull in Patients data
- Shape is (46520, 7)
- Columns are 'SUBJECT_ID','GENDER', 'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN','EXPIRE_FLAG'

In [17]:
patients_csv = pd.read_csv('C:\\Users\\bcrom\Desktop\\mimic_data_extracted\\PATIENTS.csv', 
                           index_col='ROW_ID')

In [34]:
#visualization(s) for Patients data
# patients_csv['GENDER'].value_counts()

In [35]:
#check consistency of Patients data e.g. DOD & DOD_HOSP & DOD_SSN & EXPIRE_FLAG

### Pull in Admissions data
- Shape is (58976, 18)
- Columns are 'SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME', 'DEATHTIME',
       'ADMISSION_TYPE', 'ADMISSION_LOCATION', 'DISCHARGE_LOCATION',
       'INSURANCE', 'LANGUAGE', 'RELIGION', 'MARITAL_STATUS', 'ETHNICITY',
       'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS', 'HOSPITAL_EXPIRE_FLAG',
       'HAS_CHARTEVENTS_DATA'

In [28]:
#pull in Admissions data
admissions_csv = pd.read_csv('C:\\Users\\bcrom\Desktop\\mimic_data_extracted\\ADMISSIONS.csv', 
                           index_col='ROW_ID')

In [32]:
#visualization(s) for Admissions data
# admissions_csv['SUBJECT_ID'].value_counts()

In [30]:
#check consistency of Admissions data e.g. DEATHTIME & HOSPITAL_EXPIRE_FLAG

### Pull in Chartevents data
- Shape is (50000, 14)
- Columns are 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ITEMID', 'CHARTTIME',
       'STORETIME', 'CGID', 'VALUE', 'VALUENUM', 'VALUEUOM', 'WARNING',
       'ERROR', 'RESULTSTATUS', 'STOPPED'

In [50]:
#pull in chartevents data
# chartevents_csv = pd.read_csv('C:\\Users\\bcrom\Desktop\\mimic_data_extracted\\CHARTEVENTS.csv', 
#                            index_col='ROW_ID')
# chartevents_csv = pd.read_csv('C:\\Users\\bcrom\Desktop\\mimic_data_extracted\\CHARTEVENTS.csv_Pieces\\CHARTEVENTS_1.csv', 
#                            index_col='ROW_ID')
# chartevents_csv['ICUSTAY_ID'].value_counts()

### Insert Chartevents into Postgres

In [113]:
chartevents_dict = {}
for i in range(10):
    try:
        iteration = i+1
        chartevents_path = 'C:\\Users\\bcrom\Desktop\\mimic_data_extracted\\CHARTEVENTS.csv_Pieces\\CHARTEVENTS_{}.csv'.format(iteration)
#         chartevents_var = pd.read_csv(chartevents_path, index_col='ROW_ID')
        chartevents_var = pd.read_csv(chartevents_path)
        dict_key = 'chartevents_{}'.format(iteration)
        chartevents_dict[dict_key] = chartevents_var 
    except Exception as e:
        print('Error is: ',e)

In [114]:
import psycopg2

In [117]:
for key, value in chartevents_dict.items():
    ROW_ID = value['ROW_ID']
    SUBJECT_ID = value['SUBJECT_ID']
    HADM_ID = value['HADM_ID']
    print(ROW_ID, SUBJECT_ID, HADM_ID)
#     try:
#         con = psycopg2.connect("host='localhost' dbname='mimic' user='postgres' password='postgres'")
#         cur = con.cursor()
#         cur.execute("INSERT INTO mimiciii.chartevents (ROW_ID, SUBJECT_ID, HADM_ID, ICUSTAY_ID, ITEMID) VALUES (007, 007, 007, 007, 007)")
#         con.commit()
#         print('OK')
#     except Exception as e:
#         print(e)

0          788
1          789
2          790
3          791
4          792
5          793
6          794
7          795
8          796
9          797
10         798
11         799
12         800
13         801
14         802
15         803
16         804
17         805
18         806
19         807
20         808
21         809
22         810
23         811
24         812
25         813
26         814
27         815
28         816
29         817
         ...
49970    51655
49971    51656
49972    51657
49973    51658
49974    51659
49975    51660
49976    51661
49977    51662
49978    51663
49979    51664
49980    51665
49981    51666
49982    51667
49983    51668
49984    51669
49985    51670
49986    51671
49987    51672
49988    51673
49989    51674
49990    51675
49991    51676
49992    51677
49993    51678
49994    51679
49995    51680
49996    51681
49997    51682
49998    51683
49999    51684
Name: ROW_ID, Length: 50000, dtype: int64 0         36
1         36
2         36
3         36
4         36
5         36
6         36
7         36
8         36
9         36
10        36
11        36
12        36
13        36
14        36
15        36
16        36
17        36
18        36
19        36
20        36
21        36
22        36
23        36
24        36
25        36
26        36
27        36
28        36
29        36
        ...
49970    384
49971    384
49972    384
49973    384
49974    384
49975    384
49976    384
49977    384
49978    384
49979    384
49980    384
49981    384
49982    384
49983    384
49984    384
49985    384
49986    384
49987    384
49988    384
49989    384
49990    384
49991    384
49992    384
49993    384
49994    384
49995    384
49996    384
49997    384
49998    384
49999    384
Name: SUBJECT_ID, Length: 50000, dtype: int64 0        165660
1        165660
2        165660
3        165660
4        165660
5        165660
6        165660
7        165660
8        165660
9        165660
10       165660
11       165660
12       165660
13       165660
14       165660
15       165660
16       165660
17       165660
18       165660
19       165660
20       165660
21       165660
22       165660
23       165660
24       165660
25       165660
26       165660
27       165660
28       165660
29       165660
          ...
49970    122988
49971    122988
49972    122988
49973    122988
49974    122988
49975    122988
49976    122988
49977    122988
49978    122988
49979    122988
49980    122988
49981    122988
49982    122988
49983    122988
49984    122988
49985    122988
49986    122988
49987    122988
49988    122988
49989    122988
49990    122988
49991    122988
49992    122988
49993    122988
49994    122988
49995    122988
49996    122988
49997    122988
49998    122988
49999    122988
Name: HADM_ID, Length: 50000, dtype: int64
0         51685
1         51686
2         51687
3         51688
4         51689
5         51690
6         52589
7         52590
8         52591
9         52592
10        52593
11        52594
12        52595
13        52596
14        52597
15        52598
16        52599
17        52600
18        52601
19        52602
20        52603
21        52604
22        52605
23        52606
24        52607
25        52608
26        52609
27        52610
28        52611
29        52612
          ...
49970    101824
49971    101825
49972    101826
49973    101827
49974    101828
49975    101829
49976    101830
49977    101831
49978    101832
49979    101833
49980    101834
49981    101835
49982    101836
49983    101837
49984    101838
49985    103259
49986    103260
49987    103261
49988    103262
49989    103263
49990    103264
49991    103265
49992    103266
49993    103267
49994    103268
49995    103269
49996    103270
49997    103271
49998    103272
49999    103273
Name: ROW_ID, Length: 50000, dtype: int64 0        384
1        384
2        384
3        384
4        384
5        384
6        406
7        406
8        406
9        406
10       406
11       406
12       406
13       406
14       406
15       406
16       406
17       406
18       406
19       406
20       406
21       406
22       406
23       406
24       406
25       406
26       406
27       406
28       406
29       406
        ...
49970    773
49971    773
49972    773
49973    773
49974    773
49975    773
49976    773
49977    773
49978    773
49979    773
49980    773
49981    773
49982    773
49983    773
49984    773
49985    822
49986    822
49987    822
49988    822
49989    822
49990    822
49991    822
49992    822
49993    822
49994    822
49995    822
49996    822
49997    822
49998    822
49999    822
Name: SUBJECT_ID, Length: 50000, dtype: int64 0        122988
1        122988
2        122988
3        122988
4        122988
5        122988
6        123423
7        123423
8        123423
9        123423
10       123423
11       123423
12       123423
13       123423
14       123423
15       123423
16       123423
17       123423
18       123423
19       123423
20       123423
21       123423
22       123423
23       123423
24       123423
25       123423
26       123423
27       123423
28       123423
29       123423
          ...
49970    170261
49971    170261
49972    170261
49973    170261
49974    170261
49975    170261
49976    170261
49977    170261
49978    170261
49979    170261
49980    170261
49981    170261
49982    170261
49983    170261
49984    170261
49985    101322
49986    101322
49987    101322
49988    101322
49989    101322
49990    101322
49991    101322
49992    101322
49993    101322
49994    101322
49995    101322
49996    101322
49997    101322
49998    101322
49999    101322
Name: HADM_ID, Length: 50000, dtype: int64
0        103274
1        103275
2        103276
3        103277
4        103278
5        103279
6        103280
7        103281
8        103282
9        103283
10       103284
11       103285
12       103286
13       103287
14       103288
15       103289
16       103290
17       103291
18       103292
19       103293
20       103294
21       103295
22       103296
23       103297
24       103298
25       103299
26       103300
27       103301
28       103302
29       103303
          ...
49970    149522
49971    149523
49972    149524
49973    149525
49974    149526
49975    149527
49976    149528
49977    149529
49978    149530
49979    149531
49980    149532
49981    149533
49982    149534
49983    150453
49984    150454
49985    150455
49986    150456
49987    150457
49988    150458
49989    150459
49990    150460
49991    150461
49992    150462
49993    150463
49994    150464
49995    150465
49996    150466
49997    150467
49998    150468
49999    150469
Name: ROW_ID, Length: 50000, dtype: int64 0         822
1         822
2         822
3         822
4         822
5         822
6         822
7         822
8         822
9         822
10        822
11        822
12        822
13        822
14        822
15        822
16        822
17        822
18        822
19        822
20        822
21        822
22        822
23        822
24        822
25        822
26        822
27        822
28        822
29        822
         ...
49970    1332
49971    1332
49972    1332
49973    1332
49974    1332
49975    1332
49976    1332
49977    1332
49978    1332
49979    1332
49980    1332
49981    1332
49982    1332
49983    1339
49984    1339
49985    1339
49986    1339
49987    1339
49988    1339
49989    1339
49990    1339
49991    1339
49992    1339
49993    1339
49994    1339
49995    1339
49996    1339
49997    1339
49998    1339
49999    1339
Name: SUBJECT_ID, Length: 50000, dtype: int64 0        101322
1        101322
2        101322
3        101322
4        101322
5        101322
6        101322
7        101322
8        101322
9        101322
10       101322
11       101322
12       101322
13       101322
14       101322
15       101322
16       101322
17       101322
18       101322
19       101322
20       101322
21       101322
22       101322
23       101322
24       101322
25       101322
26       101322
27       101322
28       101322
29       101322
          ...
49970    114372
49971    114372
49972    114372
49973    114372
49974    114372
49975    114372
49976    114372
49977    114372
49978    114372
49979    114372
49980    114372
49981    114372
49982    114372
49983    192698
49984    192698
49985    192698
49986    192698
49987    192698
49988    192698
49989    192698
49990    192698
49991    192698
49992    192698
49993    192698
49994    192698
49995    192698
49996    192698
49997    192698
49998    192698
49999    192698
Name: HADM_ID, Length: 50000, dtype: int64
0        150470
1        150471
2        150472
3        150473
4        150474
5        150475
6        147901
7        147902
8        147903
9        147904
10       147905
11       148864
12       148865
13       148866
14       148867
15       148868
16       148869
17       148870
18       148871
19       148872
20       148873
21       148874
22       148875
23       148876
24       148877
25       148878
26       148879
27       148880
28       148881
29       148882
          ...
49970    197974
49971    197975
49972    197976
49973    197977
49974    197978
49975    197979
49976    197980
49977    197981
49978    197982
49979    197983
49980    197984
49981    197985
49982    197986
49983    197987
49984    197988
49985    197989
49986    197990
49987    197991
49988    197992
49989    197993
49990    197994
49991    197995
49992    197996
49993    197997
49994    197998
49995    197999
49996    198000
49997    198001
49998    198002
49999    198003
Name: ROW_ID, Length: 50000, dtype: int64 0        1339
1        1339
2        1339
3        1339
4        1339
5        1339
6        1257
7        1257
8        1257
9        1257
10       1257
11       1331
12       1331
13       1331
14       1331
15       1331
16       1331
17       1331
18       1331
19       1331
20       1331
21       1331
22       1331
23       1331
24       1331
25       1331
26       1331
27       1331
28       1331
29       1331
         ...
49970    2090
49971    2090
49972    2090
49973    2090
49974    2090
49975    2090
49976    2090
49977    2090
49978    2090
49979    2090
49980    2090
49981    2090
49982    2090
49983    2090
49984    2090
49985    2090
49986    2090
49987    2090
49988    2090
49989    2090
49990    2090
49991    2090
49992    2090
49993    2090
49994    2090
49995    2090
49996    2090
49997    2090
49998    2090
49999    2090
Name: SUBJECT_ID, Length: 50000, dtype: int64 0        192698
1        192698
2        192698
3        192698
4        192698
5        192698
6        160336
7        160336
8        160336
9        160336
10       160336
11       162098
12       162098
13       162098
14       162098
15       162098
16       162098
17       162098
18       162098
19       162098
20       162098
21       162098
22       162098
23       162098
24       162098
25       162098
26       162098
27       162098
28       162098
29       162098
          ...
49970    172739
49971    172739
49972    172739
49973    172739
49974    172739
49975    172739
49976    172739
49977    172739
49978    172739
49979    172739
49980    172739
49981    172739
49982    172739
49983    172739
49984    172739
49985    172739
49986    172739
49987    172739
49988    172739
49989    172739
49990    172739
49991    172739
49992    172739
49993    172739
49994    172739
49995    172739
49996    172739
49997    172739
49998    172739
49999    172739
Name: HADM_ID, Length: 50000, dtype: int64
0        198004
1        198005
2        198006
3        198007
4        198008
5        198009
6        198010
7        198011
8        198987
9        198988
10       198989
11       198990
12       198991
13       198992
14       198993
15       198994
16       198995
17       198996
18       198997
19       198998
20       198999
21       199000
22       199001
23       199002
24       199003
25       199004
26       199005
27       199006
28       199007
29       199008
          ...
49970    254441
49971    254442
49972    254443
49973    254444
49974    254445
49975    254446
49976    254447
49977    254448
49978    254449
49979    254450
49980    254451
49981    254452
49982    254453
49983    254454
49984    254455
49985    254456
49986    254457
49987    254458
49988    254459
49989    255404
49990    255405
49991    255406
49992    255407
49993    255408
49994    255409
49995    255410
49996    255411
49997    255412
49998    255413
49999    255414
Name: ROW_ID, Length: 50000, dtype: int64 0        2090
1        2090
2        2090
3        2090
4        2090
5        2090
6        2090
7        2090
8        2090
9        2090
10       2090
11       2090
12       2090
13       2090
14       2090
15       2090
16       2090
17       2090
18       2090
19       2090
20       2090
21       2090
22       2090
23       2090
24       2090
25       2090
26       2090
27       2090
28       2090
29       2090
         ...
49970    2639
49971    2639
49972    2639
49973    2639
49974    2639
49975    2639
49976    2639
49977    2639
49978    2639
49979    2639
49980    2639
49981    2639
49982    2639
49983    2639
49984    2639
49985    2639
49986    2639
49987    2639
49988    2639
49989    2639
49990    2639
49991    2639
49992    2639
49993    2639
49994    2639
49995    2639
49996    2639
49997    2639
49998    2639
49999    2639
Name: SUBJECT_ID, Length: 50000, dtype: int64 0        172739
1        172739
2        172739
3        172739
4        172739
5        172739
6        172739
7        172739
8        172739
9        172739
10       172739
11       172739
12       172739
13       172739
14       172739
15       172739
16       172739
17       172739
18       172739
19       172739
20       172739
21       172739
22       172739
23       172739
24       172739
25       172739
26       172739
27       172739
28       172739
29       172739
          ...
49970    185150
49971    185150
49972    185150
49973    185150
49974    185150
49975    185150
49976    185150
49977    185150
49978    185150
49979    185150
49980    185150
49981    185150
49982    185150
49983    185150
49984    185150
49985    185150
49986    185150
49987    185150
49988    185150
49989    187697
49990    187697
49991    187697
49992    187697
49993    187697
49994    187697
49995    187697
49996    187697
49997    187697
49998    187697
49999    187697
Name: HADM_ID, Length: 50000, dtype: int64
0        255415
1        255416
2        255417
3        255418
4        255419
5        255420
6        255421
7        255422
8        253820
9        253821
10       253822
11       253823
12       253824
13       253825
14       253826
15       253827
16       253828
17       253829
18       253830
19       253831
20       253832
21       253833
22       253834
23       253835
24       253836
25       253837
26       253838
27       253839
28       253840
29       253841
          ...
49970    301485
49971    301486
49972    301487
49973    301488
49974    301489
49975    301490
49976    301491
49977    301492
49978    301493
49979    301494
49980    301495
49981    301496
49982    301497
49983    301498
49984    301499
49985    301500
49986    301501
49987    301502
49988    301503
49989    299806
49990    299807
49991    299808
49992    299809
49993    299810
49994    299811
49995    299812
49996    299813
49997    299814
49998    299815
49999    299816
Name: ROW_ID, Length: 50000, dtype: int64 0        2639
1        2639
2        2639
3        2639
4        2639
5        2639
6        2639
7        2639
8        2639
9        2639
10       2639
11       2639
12       2639
13       2639
14       2639
15       2639
16       2639
17       2639
18       2639
19       2639
20       2639
21       2639
22       2639
23       2639
24       2639
25       2639
26       2639
27       2639
28       2639
29       2639
         ...
49970    3267
49971    3267
49972    3267
49973    3267
49974    3267
49975    3267
49976    3267
49977    3267
49978    3267
49979    3267
49980    3267
49981    3267
49982    3267
49983    3267
49984    3267
49985    3267
49986    3267
49987    3267
49988    3267
49989    3242
49990    3242
49991    3242
49992    3242
49993    3242
49994    3242
49995    3242
49996    3242
49997    3242
49998    3242
49999    3242
Name: SUBJECT_ID, Length: 50000, dtype: int64 0        187697
1        187697
2        187697
3        187697
4        187697
5        187697
6        187697
7        187697
8        185150
9        185150
10       185150
11       185150
12       185150
13       185150
14       185150
15       185150
16       185150
17       185150
18       185150
19       185150
20       185150
21       185150
22       185150
23       185150
24       185150
25       185150
26       185150
27       185150
28       185150
29       185150
          ...
49970    122518
49971    122518
49972    122518
49973    122518
49974    122518
49975    122518
49976    122518
49977    122518
49978    122518
49979    122518
49980    122518
49981    122518
49982    122518
49983    122518
49984    122518
49985    122518
49986    122518
49987    122518
49988    122518
49989    175206
49990    175206
49991    175206
49992    175206
49993    175206
49994    175206
49995    175206
49996    175206
49997    175206
49998    175206
49999    175206
Name: HADM_ID, Length: 50000, dtype: int64
0        299817
1        299818
2        299819
3        300854
4        300855
5        300856
6        300857
7        300858
8        300859
9        300860
10       300861
11       300862
12       300863
13       300864
14       300865
15       300866
16       300867
17       300868
18       300869
19       300870
20       300871
21       300872
22       300873
23       300874
24       300875
25       300876
26       300877
27       300878
28       300879
29       300880
          ...
49970    348739
49971    348740
49972    348741
49973    348742
49974    348743
49975    348744
49976    348745
49977    348746
49978    348747
49979    348748
49980    348749
49981    348750
49982    348751
49983    348752
49984    348753
49985    348754
49986    348755
49987    348756
49988    348757
49989    348758
49990    348759
49991    348760
49992    348761
49993    348762
49994    348763
49995    348764
49996    348765
49997    348766
49998    348767
49999    348768
Name: ROW_ID, Length: 50000, dtype: int64 0        3242
1        3242
2        3242
3        3250
4        3250
5        3250
6        3250
7        3250
8        3250
9        3250
10       3250
11       3250
12       3250
13       3250
14       3250
15       3250
16       3250
17       3250
18       3250
19       3250
20       3250
21       3250
22       3250
23       3250
24       3250
25       3250
26       3250
27       3250
28       3250
29       3250
         ...
49970    3987
49971    3987
49972    3987
49973    3987
49974    3987
49975    3987
49976    3987
49977    3987
49978    3987
49979    3987
49980    3987
49981    3987
49982    3987
49983    3987
49984    3987
49985    3987
49986    3987
49987    3987
49988    3987
49989    3987
49990    3987
49991    3987
49992    3987
49993    3987
49994    3987
49995    3987
49996    3987
49997    3987
49998    3987
49999    3987
Name: SUBJECT_ID, Length: 50000, dtype: int64 0        175206
1        175206
2        175206
3        171462
4        171462
5        171462
6        171462
7        171462
8        171462
9        171462
10       171462
11       171462
12       171462
13       171462
14       171462
15       171462
16       171462
17       171462
18       171462
19       171462
20       171462
21       171462
22       171462
23       171462
24       171462
25       171462
26       171462
27       171462
28       171462
29       171462
          ...
49970    143224
49971    143224
49972    143224
49973    143224
49974    143224
49975    143224
49976    143224
49977    143224
49978    143224
49979    143224
49980    143224