In [1]:
import pandas as pd

### Pull in Patients data
- Shape is (46520, 7)
- Columns are 'SUBJECT_ID','GENDER', 'DOB', 'DOD', 'DOD_HOSP', 'DOD_SSN','EXPIRE_FLAG'

In [17]:
patients_csv = pd.read_csv('C:\\Users\\bcrom\Desktop\\mimic_data_extracted\\PATIENTS.csv', 
                           index_col='ROW_ID')

In [34]:
#visualization(s) for Patients data
# patients_csv['GENDER'].value_counts()

In [35]:
#check consistency of Patients data e.g. DOD & DOD_HOSP & DOD_SSN & EXPIRE_FLAG

### Pull in Admissions data
- Shape is (58976, 18)
- Columns are 'SUBJECT_ID', 'HADM_ID', 'ADMITTIME', 'DISCHTIME', 'DEATHTIME',
       'ADMISSION_TYPE', 'ADMISSION_LOCATION', 'DISCHARGE_LOCATION',
       'INSURANCE', 'LANGUAGE', 'RELIGION', 'MARITAL_STATUS', 'ETHNICITY',
       'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS', 'HOSPITAL_EXPIRE_FLAG',
       'HAS_CHARTEVENTS_DATA'

In [28]:
#pull in Admissions data
admissions_csv = pd.read_csv('C:\\Users\\bcrom\Desktop\\mimic_data_extracted\\ADMISSIONS.csv', 
                           index_col='ROW_ID')

In [32]:
#visualization(s) for Admissions data
# admissions_csv['SUBJECT_ID'].value_counts()

In [30]:
#check consistency of Admissions data e.g. DEATHTIME & HOSPITAL_EXPIRE_FLAG

### Pull in Chartevents data
- Shape is (50000, 14)
- Columns are 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ITEMID', 'CHARTTIME',
       'STORETIME', 'CGID', 'VALUE', 'VALUENUM', 'VALUEUOM', 'WARNING',
       'ERROR', 'RESULTSTATUS', 'STOPPED'

## Insert Chartevents into Postgres (this approach only inserts a portion of total rows)

In [16]:
chartevents_dict = {}
for i in range(10):
    try:
        iteration = i+1
        chartevents_path = 'C:\\Users\\bcrom\Desktop\\mimic_data_extracted\\CHARTEVENTS.csv_Pieces\\CHARTEVENTS_{}.csv'.format(iteration)
        chartevents_var = pd.read_csv(chartevents_path)
        dict_key = 'chartevents_{}'.format(iteration)
        chartevents_dict[dict_key] = chartevents_var 
    except Exception as e:
        print('Error is: ',e)

In [28]:
from sqlalchemy import create_engine

In [29]:
#create Engine for connection to Postgres DB
engine = create_engine('postgresql://postgres:postgres@localhost/mimic', echo=False)

### Insert Chartevents_1

In [46]:
chartevents_1 = chartevents_dict['chartevents_1']
chartevents_1.rename(columns={'ROW_ID':'row_id','SUBJECT_ID':'subject_id','HADM_ID':'hadm_id','ICUSTAY_ID':'icustay_id','ITEMID':'itemid',
                              'CHARTTIME':'charttime','STORETIME':'storetime','CGID':'cgid','VALUE':'value','VALUENUM':'valuenum',
                              'VALUEUOM':'valueuom','WARNING':'warning','ERROR':'error','RESULTSTATUS':'resultstatus','STOPPED':'stopped'}, inplace=True);

In [50]:
chartevents_1.to_sql(name='chartevents', con = engine, schema='mimiciii', if_exists='append', index=False)

### Insert Chartevents_2

In [55]:
chartevents_2 = chartevents_dict['chartevents_2']
chartevents_2.rename(columns={'ROW_ID':'row_id','SUBJECT_ID':'subject_id','HADM_ID':'hadm_id','ICUSTAY_ID':'icustay_id','ITEMID':'itemid',
                              'CHARTTIME':'charttime','STORETIME':'storetime','CGID':'cgid','VALUE':'value','VALUENUM':'valuenum',
                              'VALUEUOM':'valueuom','WARNING':'warning','ERROR':'error','RESULTSTATUS':'resultstatus','STOPPED':'stopped'}, inplace=True);

In [56]:
chartevents_2.to_sql(name='chartevents', con = engine, schema='mimiciii', if_exists='append', index=False)

### Insert Chartevents_3

In [57]:
chartevents_3 = chartevents_dict['chartevents_3']
chartevents_3.rename(columns={'ROW_ID':'row_id','SUBJECT_ID':'subject_id','HADM_ID':'hadm_id','ICUSTAY_ID':'icustay_id','ITEMID':'itemid',
                              'CHARTTIME':'charttime','STORETIME':'storetime','CGID':'cgid','VALUE':'value','VALUENUM':'valuenum',
                              'VALUEUOM':'valueuom','WARNING':'warning','ERROR':'error','RESULTSTATUS':'resultstatus','STOPPED':'stopped'}, inplace=True);

In [58]:
chartevents_3.to_sql(name='chartevents', con = engine, schema='mimiciii', if_exists='append', index=False)

### Insert Chartevents_4

In [59]:
chartevents_4 = chartevents_dict['chartevents_4']
chartevents_4.rename(columns={'ROW_ID':'row_id','SUBJECT_ID':'subject_id','HADM_ID':'hadm_id','ICUSTAY_ID':'icustay_id','ITEMID':'itemid',
                              'CHARTTIME':'charttime','STORETIME':'storetime','CGID':'cgid','VALUE':'value','VALUENUM':'valuenum',
                              'VALUEUOM':'valueuom','WARNING':'warning','ERROR':'error','RESULTSTATUS':'resultstatus','STOPPED':'stopped'}, inplace=True);

In [60]:
chartevents_4.to_sql(name='chartevents', con = engine, schema='mimiciii', if_exists='append', index=False)

### Insert Chartevents_5

In [61]:
chartevents_5 = chartevents_dict['chartevents_5']
chartevents_5.rename(columns={'ROW_ID':'row_id','SUBJECT_ID':'subject_id','HADM_ID':'hadm_id','ICUSTAY_ID':'icustay_id','ITEMID':'itemid',
                              'CHARTTIME':'charttime','STORETIME':'storetime','CGID':'cgid','VALUE':'value','VALUENUM':'valuenum',
                              'VALUEUOM':'valueuom','WARNING':'warning','ERROR':'error','RESULTSTATUS':'resultstatus','STOPPED':'stopped'}, inplace=True);

In [62]:
chartevents_5.to_sql(name='chartevents', con = engine, schema='mimiciii', if_exists='append', index=False)

### Insert Chartevents_6

In [63]:
chartevents_6 = chartevents_dict['chartevents_6']
chartevents_6.rename(columns={'ROW_ID':'row_id','SUBJECT_ID':'subject_id','HADM_ID':'hadm_id','ICUSTAY_ID':'icustay_id','ITEMID':'itemid',
                              'CHARTTIME':'charttime','STORETIME':'storetime','CGID':'cgid','VALUE':'value','VALUENUM':'valuenum',
                              'VALUEUOM':'valueuom','WARNING':'warning','ERROR':'error','RESULTSTATUS':'resultstatus','STOPPED':'stopped'}, inplace=True);

In [64]:
chartevents_6.to_sql(name='chartevents', con = engine, schema='mimiciii', if_exists='append', index=False)

### Insert Chartevents_7

In [66]:
chartevents_7 = chartevents_dict['chartevents_7']
chartevents_7.rename(columns={'ROW_ID':'row_id','SUBJECT_ID':'subject_id','HADM_ID':'hadm_id','ICUSTAY_ID':'icustay_id','ITEMID':'itemid',
                              'CHARTTIME':'charttime','STORETIME':'storetime','CGID':'cgid','VALUE':'value','VALUENUM':'valuenum',
                              'VALUEUOM':'valueuom','WARNING':'warning','ERROR':'error','RESULTSTATUS':'resultstatus','STOPPED':'stopped'}, inplace=True);

In [67]:
chartevents_7.to_sql(name='chartevents', con = engine, schema='mimiciii', if_exists='append', index=False)

### Insert Chartevents_8

In [68]:
chartevents_8 = chartevents_dict['chartevents_8']
chartevents_8.rename(columns={'ROW_ID':'row_id','SUBJECT_ID':'subject_id','HADM_ID':'hadm_id','ICUSTAY_ID':'icustay_id','ITEMID':'itemid',
                              'CHARTTIME':'charttime','STORETIME':'storetime','CGID':'cgid','VALUE':'value','VALUENUM':'valuenum',
                              'VALUEUOM':'valueuom','WARNING':'warning','ERROR':'error','RESULTSTATUS':'resultstatus','STOPPED':'stopped'}, inplace=True);

In [69]:
chartevents_8.to_sql(name='chartevents', con = engine, schema='mimiciii', if_exists='append', index=False)

### Insert Chartevents_9

In [70]:
chartevents_9 = chartevents_dict['chartevents_9']
chartevents_9.rename(columns={'ROW_ID':'row_id','SUBJECT_ID':'subject_id','HADM_ID':'hadm_id','ICUSTAY_ID':'icustay_id','ITEMID':'itemid',
                              'CHARTTIME':'charttime','STORETIME':'storetime','CGID':'cgid','VALUE':'value','VALUENUM':'valuenum',
                              'VALUEUOM':'valueuom','WARNING':'warning','ERROR':'error','RESULTSTATUS':'resultstatus','STOPPED':'stopped'}, inplace=True);

In [71]:
chartevents_9.to_sql(name='chartevents', con = engine, schema='mimiciii', if_exists='append', index=False)

### Insert Chartevents_10

In [72]:
chartevents_10 = chartevents_dict['chartevents_10']
chartevents_10.rename(columns={'ROW_ID':'row_id','SUBJECT_ID':'subject_id','HADM_ID':'hadm_id','ICUSTAY_ID':'icustay_id','ITEMID':'itemid',
                              'CHARTTIME':'charttime','STORETIME':'storetime','CGID':'cgid','VALUE':'value','VALUENUM':'valuenum',
                              'VALUEUOM':'valueuom','WARNING':'warning','ERROR':'error','RESULTSTATUS':'resultstatus','STOPPED':'stopped'}, inplace=True);

In [73]:
chartevents_10.to_sql(name='chartevents', con = engine, schema='mimiciii', if_exists='append', index=False)

### Alternative loading scheme

In [14]:
import pandas as pd

In [ ]:
file = 'C:\\Users\\bcrom\Desktop\\mimic_data_extracted\\CHARTEVENTS.csv'

chunksize = 200000
i = 0
j = 1
for df in pd.read_csv(file, chunksize=chunksize, iterator=True):
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
    df.index += j
    i+=1
#     df.to_sql(name='bryan_test', con = engine, schema='mimiciii', if_exists='append', index=True)
    df.to_sql(name='chartevents', con = engine, schema='mimiciii', if_exists='append', index=False)
    j = df.index[-1] + 1

### Test queries & merging data

In [2]:
#testing queries to Postgres
import psycopg2

In [5]:
# try:
#     con = psycopg2.connect("host='localhost' dbname='mimic' user='postgres' password='postgres'")
#     cur = con.cursor()
# #     cur.execute("INSERT INTO user_test (firstname, lastname) VALUES ('{Chuck}', '{Jones}')")
#     cur.execute ("SELECT subject_id, gender, dod, expire_flag FROM mimiciii.patients LIMIT 10")
#     con.commit()
#     print('OK')
# except Exception as e:
#     print(e)
    
# patient_rows = cur.fetchall() #rows is a list of n-tuples

In [6]:
try:
    con = psycopg2.connect("host='localhost' dbname='mimic' user='postgres' password='postgres'")
    cur = con.cursor()
#     cur.execute ("SELECT subject_id, gender, dod, expire_flag FROM mimiciii.patients LIMIT 10")
    cur.execute ("""SELECT subject_id, gender, dod, expire_flag FROM mimiciii.patients WHERE "subject_id" IN (249,36)""")
    con.commit()
    print('OK')
except Exception as e:
    print(e)
    
patient_rows = cur.fetchall() #rows is a list of n-tuples

OK

In [7]:
patient_df = pd.DataFrame(patient_rows, columns = ['subject_id','gender','dod','expire_flag'])

In [9]:
# patient_df

In [10]:
try:
    con = psycopg2.connect("host='localhost' dbname='mimic' user='postgres' password='postgres'")
    cur = con.cursor()
#     cur.execute ("""SELECT "ROW_ID", "SUBJECT_ID" FROM mimiciii.bryan_test WHERE "SUBJECT_ID" = '249';""")
    cur.execute ("""SELECT "ROW_ID", "SUBJECT_ID" FROM mimiciii.bryan_test WHERE "SUBJECT_ID" IN (249,36);""")
    con.commit()
    print('OK')
except Exception as e:
    print(e)

bryan_test_rows = cur.fetchall() #rows is a list of n-tuples

OK

In [11]:
bryan_test_df = pd.DataFrame(bryan_test_rows, columns = ['row_id', 'subject_id'])

In [13]:
# bryan_test_df

In [14]:
merged_df = pd.merge(bryan_test_df, patient_df, how = 'left', on = 'subject_id')

In [15]:
merged_df

      row_id  subject_id gender   dod  expire_flag
0        788          36      M  None            0
1        789          36      M  None            0
2        790          36      M  None            0
3        791          36      M  None            0
4        792          36      M  None            0
5        793          36      M  None            0
6        794          36      M  None            0
7        795          36      M  None            0
8        796          36      M  None            0
9        797          36      M  None            0
10       798          36      M  None            0
11       799          36      M  None            0
12       800          36      M  None            0
13       801          36      M  None            0
14       802          36      M  None            0
15       803          36      M  None            0
16       804          36      M  None            0
17       805          36      M  None            0
18       806          36      M  None            0
19       807          36      M  None            0
20       808          36      M  None            0
21       809          36      M  None            0
22       810          36      M  None            0
23       811          36      M  None            0
24       812          36      M  None            0
25       813          36      M  None            0
26       814          36      M  None            0
27       815          36      M  None            0
28       816          36      M  None            0
29       817          36      M  None            0
...      ...         ...    ...   ...          ...
6812   44551         249      F  None            0
6813   44552         249      F  None            0
6814   44553         249      F  None            0
6815   44554         249      F  None            0
6816   44556         249      F  None            0
6817   44557         249      F  None            0
6818   44558         249      F  None            0
6819   44559         249      F  None            0
6820   44560         249      F  None            0
6821   44561         249      F  None            0
6822   44562         249      F  None            0
6823   44563         249      F  None            0
6824   44564         249      F  None            0
6825   44565         249      F  None            0
6826   44566         249      F  None            0
6827   44567         249      F  None            0
6828   44568         249      F  None            0
6829   44569         249      F  None            0
6830   44570         249      F  None            0
6831   44571         249      F  None            0
6832   44572         249      F  None            0
6833   44573         249      F  None            0
6834   44574         249      F  None            0
6835   44575         249      F  None            0
6836   44576         249      F  None            0
6837   44577         249      F  None            0
6838   44578         249      F  None            0
6839   44579         249      F  None            0
6840   44580         249      F  None            0
6841   44581         249      F  None            0

[6842 rows x 5 columns]

In [24]:
try:
    con = psycopg2.connect("host='localhost' dbname='mimic' user='postgres' password='postgres'")
    cur = con.cursor()
    cur.execute ("""SELECT COUNT(*) FROM mimiciii.chartevents;""")
    con.commit()
    print('OK')
except Exception as e:
    print(e)

OK

In [25]:
chartevents_rows = cur.fetchall() #rows is a list of n-tuples

In [26]:
chartevents_rows

[(139400000,)]

In [ ]:
139,400,000

In [22]:
try:
    con = psycopg2.connect("host='localhost' dbname='mimic' user='postgres' password='postgres'")
    cur = con.cursor()
    cur.execute ("""SELECT COUNT(*) FROM mimiciii.bryan_test;""")
    con.commit()
    print('OK')
except Exception as e:
    print(e)
    
bryan_test_count = cur.fetchall()

OK

In [23]:
bryan_test_count

[(35000000,)]